@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: 228, 10, 19;
  --light: 255, 255, 255;
  --dark: 54, 54, 54;
  --orange: 244, 173, 76;
  --primary: 255, 255, 255;
  --secondary: 245, 245, 245;
  --line: 223, 223, 223;
  --alert: 180, 19, 19;
  --success: 14, 165, 38;
  --warning: 211, 180, 14;
  --info: 58, 27, 248;
  --body: 152, 152, 152;
}

.dark {
  --accent: 228, 10, 19;
  --light: 64, 64, 64;
  --primary: 13, 17, 23;
  --secondary: 1, 4, 9;
  --dark: 255, 255, 255;
  --line: 48, 54, 61;
  --alert: 180, 19, 19;
  --success: 14, 165, 38;
  --warning: 211, 180, 14;
  --info: 58, 27, 248;
  --body: 188, 188, 188;
}

@layer base {
  html {
    @apply h-full;
  }

  body {
    @apply text-body font-['Poppins']  min-h-screen w-full;
  }

  a {
    @apply no-underline;
  }

  ul {
    @apply list-none;
  }

  button {
    @apply cursor-pointer bg-transparent outline-none;
  }

  p {
    @apply mb-1.5 text-sm text-balance leading-normal;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold  leading-normal font-['Poppins'] text-dark;
  }

  h1 {
    @apply text-[clamp(35px,4vw,50px)] leading-none mb-2;
  }

  h2 {
    @apply text-[clamp(28px,4vw,42px)] leading-none mb-2;
  }

  h3 {
    @apply text-[clamp(20px,4vw,38px)] leading-none mb-2;
  }

  h4 {
    @apply text-[clamp(18px,4vw,24px)] leading-none mb-2;
  }

  h5 {
    @apply text-[clamp(14px,4vw,18px)] leading-none mb-2;
  }

  img {
    @apply block;
  }
}

@layer components {
  .btn {
    @apply p-1.5 border py-2 border-transparent flex gap-1 rounded-md transition-all items-center bg-primary text-sm;
  }

  .btn:disabled {
    @apply pointer-events-none opacity-50;
  }

  .btn-add,
  .btn-accent {
    @apply bg-accent text-white hover:bg-opacity-80;
  }

  .btn-alert {
    @apply bg-alert text-white hover:bg-opacity-80;
  }
  .btn-warning {
    @apply bg-warning text-white hover:bg-opacity-80;
  }

  .btn-info {
    @apply bg-info text-white hover:bg-opacity-80;
  }

  .btn-cancel {
    @apply bg-gray-500 text-white hover:bg-opacity-80;
  }

  .table-wrapper {
    @apply max-h-[69vh] overflow-y-auto overflow-x-hidden;
  }

  .table-wrapper table {
    @apply w-full text-left;
  }

  .table-wrapper table thead tr {
    @apply sticky top-0 bg-primary z-30 h-[41px];
  }

  .table-wrapper table tbody tr:hover {
    @apply shadow-[0px_5px_10px_rgba(var(--light),0.2)];
  }

  .table-wrapper table td,
  .table-wrapper table th {
    @apply p-1.5 text-sm;
  }

  .table-wrapper table thead tr {
    @apply bg-secondary;
  }

  .table-wrapper table tbody tr:nth-child(odd) {
    @apply bg-primary;
  }
  .table-wrapper table tbody tr td:first-child {
    @apply w-[30px];
  }
  .table-wrapper table tbody tr td:nth-child(2) {
    @apply w-[100px];
  }

  .table-action {
    @apply flex gap-2 justify-end;
  }

  .table-action svg {
    @apply w-[70%] hover:stroke-accent;
  }

  .tooltip {
    @apply relative;
  }

  .tooltip::before {
    @apply z-30 content-[attr(data-tooltip)] absolute -top-5 left-1/2 -translate-x-1/2 p-1.5 bg-black bg-opacity-80 px-2.5 text-[10px] rounded-md text-white leading-none opacity-0 pointer-events-none transition-all;
  }

  .tooltip:hover::before {
    @apply opacity-100;
  }

  .loading-bar {
    @apply overflow-hidden relative;
  }
  .loading-bar::after {
    @apply content-[''] absolute top-0 left-0 w-full h-full  bg-skeleton animate-loading;
  }

  .layout-main {
    @apply h-screen  bg-primary;
  }

  .layout-division {
    @apply flex h-full;
  }

  .layout-division aside {
    @apply bg-secondary max-w-[200px] w-full;
  }

  .layout-division main {
    @apply w-full h-full grid grid-rows-[auto,_1fr,_auto];
  }

  .input-wrap {
    @apply mb-2 relative;
  }

  .input-wrap label {
    @apply text-xs;
  }

  .input-wrap input,
  .input-wrap textarea,
  .input-wrap select {
    @apply px-2 py-1 w-full outline-none border border-line bg-primary text-body rounded-md focus:border-info;
  }

  .input-wrap input:disabled,
  .input-wrap textarea:disabled,
  .input-wrap select:disabled {
    @apply pointer-events-none opacity-60;
  }

  .input-wrap textarea {
    @apply resize-none h-[100px];
  }

  .input-wrap .show-error {
    @apply absolute top-1 right-0 text-alert text-xs italic;
  }

  .input-wrap:has(.show-error) label {
    @apply text-alert;
  }

  .input-wrap:has(.show-error) input,
  .input-wrap:has(.show-error) textarea,
  .input-wrap:has(.show-error) select {
    @apply border-alert animate-shake;
  }
}

@layer utilities {
  .center-all {
    @apply flex justify-center items-center;
  }
}

/* width */
.custom-scroll::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
  background: #e40a13;
  border-radius: 5px;
}

/* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #b0070d;
}

.spinner circle {
  fill: none;
  stroke-width: 6;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1s ease-in-out infinite;
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -110px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-info {
  transition: 0.5s ease;
}
.slider-card .slider-info {
  transform: scale(0);
}
.slider-card:hover .slider-info {
  transform: scale(1);
}
